body{
    background-color: #F8FDFF ;
    
}
#formulario{
    background-color: #1c344f;
    border-radius: 9px;
    font: verdana;
    box-shadow: 5px 5px 20px black;
}
.container{
    padding-left: 20%;
    padding-right: 20%;
}
#form1{
    padding-left: 7%;
    padding-right: 7%;
}

#title{
    color: #EAF7FF;
    text-align: left;
}

#titleContainer{
    background-color: #EAF7FF;
    color: #FFFFFF;
    border-width: 10px;
    border-color: #1c344f ;
    border-bottom-right-radius: 300px 70px;
    border-bottom-left-radius: 300px 70px;

    
    height: 125px;
}

#icon{
    height: 7.5em;
    width: 7.5em;
    margin-left: 40%;
    margin-top: -0.5em;



}
#button{
    background: #2fa6e0;
    width: 100%;

}
#button:hover{
    background: #1c344f;
    
}
input{
    height: 50px;
}
@media (max-width: 992px) {
    .container{
        padding-left: 5%;
        padding-right: 5%;

    }
    #icon{
        height: 8em;
        width: 8em;
        margin-left: 32%;
    
    
    }
}

#footer{
    background-color: #F8FDFF;
    color: #7CBADF;
    width: 100vw;
    font-size: small;
}

a{
 color: #00121C;
 font-size: small;
}



